@charset "utf-8";
*{margin:0;padding:0;font-family:"微软雅黑";font-weight:normal;max-width:100%;}
body{min-width:320px;}
.html {font-size:.625rem;}
*,*:before,*:after{box-sizing:border-box;}
.fix:before,.fix:after{ content:""; display:table;}
.fix:after{ clear:both;}
ul, ol {list-style:none;}
a{text-decoration:none;display:block;color:#000;}
a:hover {color:#25619f;}
img {max-width:100%; border: 0;}
i {font-style:normal;}
.mobile_in_con li h4, .mob_list_ulil li h4{font-size:0.75rem;color:#000;overflow:hidden;}
.mobile_header, .footer, .menu_header_bg, .memu_con_top {width:100%;}/*100%*/
.mob_marauto {width:95%;margin:0 auto;}/*居中*/
.porela {position:relative;}/*相对定位*/
.boradius {border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}/*圆边角*/
.see_more, .mob_con_return {width:25%;font-size:0.75rem;padding:10px 0;margin:40px auto;clear:both;}
.menu_in_keytext,.menu_con_seari{width:100%;height:40px;padding-left:2%;font-size:0.875rem;border:1px solid #999;}/*搜索框*/
.btn_al, .memu_in_nav li a, .see_more, li.mobile_falicur{background:#25619f;text-align:center;color:#fff;}
.mobile_in_cona > div:first-child, .mobile_faci_ag div:first-child {display:block;}
.mobile_in_cona > div, .mobile_faci_ag div {display:none;}
.memu_in_nav, .mobile_fa_ul, .mobile_con_header, .memu_in_top, .mob_sear_form {margin-bottom:15px;}
.mobile_in_con li , .mob_list_ulil li, .mobile_in_cona {overflow:hidden;}
.mob_con_num, .mobile_in_nanu li img, .mob_list_ulil li img{float:left;margin-right:4%;}

/*首页头部*/
.memu_in_top h1 {text-align:center; position: absolute; top:12%; left:2.5%; } 
.memu_in_top h1 img {width:90%;}
.memu_in_searform {width:95%;margin:0 auto;margin-bottom:15px;}
.memu_in_searform a {position:absolute;top:15%;right:2%;font-size:1.5rem;color:#25619f;}

/*首页导航*/
.memu_in_nav .iconfont {display:block;font-size:1.75rem;margin-bottom:10px;}
.memu_in_nav li {float:left;width:23%;margin:1%;}
.memu_in_nav li a {font-size:0.875rem;padding:0.875rem 0;}

/*列表*/
.mobole_in_tit {border-bottom:1px solid #25619f;width:100%;}
.mobole_in_tit li {float:left;width:32%;text-align:center;border:1px solid #999;border-bottom:none;color:#000;font-size:0.875rem;margin:0 1%;padding:0.5rem 0;position:relative;top:2px;}
.mobole_in_tit li:first-child {margin-left:0;}
.mobole_in_tit li:last-child {margin-right:0;}
.mobole_in_tit .inticur{border-top:1px solid #25619f;border-bottom:none;background:#fff;border-bottom:2px #fff solid;}
.mobile_in_cona li {margin:20px 0;width:100%;clear:both;}

/*工作动态*/
.mobile_in_work li h4, .mobile_in_risk li h4, .mob_sear_ulil li h4 {overflow:hidden;text-overflow:ellipsis;white-space: nowrap;max-width:100%;line-height:30px;}
.mob_con_num {padding:7px 8px;}
.mobile_in_work li:first-child img{width:100%;}
.mobile_in_work li:first-child a h4 {color:#fff;background:#000;position:absolute;bottom:3px;background-color:rgba(0,0,0,0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fffffff,endColorstr=#7Fffffff);height:40px;line-height:38px;padding:0 2%;width:100%;}
.mobile_in_nan li{border-bottom:0.1rem dotted #999;padding:3% 0;margin:0;}
.mobile_in_nan li:last-child{border:none;}
.mobile_in_nan li h4 {line-height:24px;height:3rem;}
.mobile_in_nanu li img {width:28%;margin-top:5px;}
.mobile_in_servg .mob_con_num {margin-top:0.5rem;}
.mobile_in_servg li h4 {height:3rem;}



/**/
.mob_in_ritil{border-bottom:0.1rem solid #b3b3b3;margin-bottom:15px;padding-bottom:10px;}
.mob_in_ritil a{height:100%;}
.mob_in_ritil img{float:right;position:relative;margin-right:0.5rem;top:0.25rem;}
.mob_in_ritil span {font-size:0.875rem;border-bottom:0.2rem solid #25619f;padding-right:1rem;position:relative;padding-bottom:10px;padding-left:0.325rem;}

/*风险防范*/
.mobile_in_risk li a, .mob_sear_list li a {border-bottom:0.1rem dotted #25619f;background:url(../images/list_style_bg.gif) no-repeat 2% center;padding:2% 0;padding-left:8%;position: relative;}
.mobile_in_risk li:last-child a, .memu_con_nav li:last-child a{border:0;}
.mobile_in_risk li a {font-size:0.75rem;}
.mob_in_ritil span {padding-left:2%;}

/*服务机构*/
.mobile_fa_ul li {float:left;font-size:0.75rem;width:15%;text-align:center;padding:5px 0;}
.mobile_fa_ul li:first-child {margin-left:2%;}
.mobile_fa_ul .mobile_fa_inve {width:21%;}
.mobile_fa_div li a{font-size:0.75rem;}

/*其他页-页面导航*/
.memu_con_top {background:#25619f;color:#fff;position:relative;height:50px;height:60px;border-bottom:0.2rem solid #003164;line-height:55px;}
.mobile_con_toptil {font-size:1.125rem;text-align:center;}
.mobile_con_header a {color:#fff;}
.menu_top_icon {position:absolute;top:0;}
.menu_top_icon .iconfont {font-size:1.5rem;}
.memu_top_conl, .mob_list_pprev {left:2%;}
.menu_top_conr, .mob_list_pnext {right:2%;}
.memu_con_sear, .memu_con_nav {display:none;background:#25619f;width:100%;position:absolute;top:50px;z-index:100;}
.memu_con_sear{padding:1.6rem 0;}
.memu_con_searf {position:relative;width:90%;margin:0 auto;}
.memu_con_searf input, .mob_sear_form input[type="text"] {width:100%;height:40px;padding-left:2%;}
.memu_con_searf a {position:absolute;right:5px;top:0.4rem;font-size:1.75rem;color:#25619f;}
.memu_con_nav a {font-size:1rem;border-bottom:1px dotted #3397ff;padding:14px 0.6rem;text-indent:1rem;}

/*列表*/
.mob_list_ulil li a {font-size:0.75rem;padding:4% 0;border-bottom:0.1rem dotted #25619f;position:relative;}
.mob_list_ulil li h4 {height:3rem;line-height:22px;}
.mob_list_ulil li img {width:34%;}
.mob_list_ulil li span {color:#666;position:absolute;bottom:11%;right:2%;}
.mob_list_page {position:relative;height:40px;margin:20px 0;text-align:center;}
.mob_list_page p  {font-size:1rem;line-height:28px;}
.mob_list_page p span, .mob_list_page a {font-size:0.75rem;color:#333;}
.mob_list_page a {border:0.1rem solid #25619f;color:#25619f;padding:0.4rem 0.9rem;position:absolute;top:0;}

/*内容*/
.mobile_con_in h3 {margin-bottom:10px;color:#25619f;font-weight:bold;font-size:1rem;text-align:center;}
.mobile_con_in hr {border:none;border-bottom:0.1rem dotted #999;margin-bottom:20px;}

/*搜索*/
.mob_sear_list li a {padding-left:8%;}
.mob_sear_form input[type="text"]{width:80%;margin-right:4%;}
.mob_sear_form input[type="button"]{width:16%;border:0;margin:0;height:40px;line-height:40px;padding:0;}
.mob_sear_list .mob_sear_ulil li h4 {height:auto;}

/*footer*/
.mobile_footer {color:#666;line-height:24px;padding-bottom:10px;clear:both;background:#e6f2ff;}
.to_top {background:#25619f;margin-bottom:10px;height:10px;}
.memu_footer_explain {font-size:0.75rem;}

@media (min-width: 330px){
	.memu_in_top h1 {top:17%;}
}

@media (min-width: 400px){
	.memu_in_nav li a, .mobile_lat_infor .mobole_in_tit li, .mobile_in_rifal h3 span, .memu_in_sear input, .mobile_con_in h3{font-size:1rem;}
	.memu_in_nav li a {padding:1.125rem 0;}
	.mobile_in_con li h4, .see_more, .mob_list_ulil li h4, .mob_list_page p span, .mob_list_page a, .mob_sear_form input, .mobile_fa_ul li, .mob_con_return {font-size:0.875rem;}
	.mobile_con_toptil, .mob_list_page p {font-size:1.25rem;}
	.mob_con_num {margin-right:3%;font-size:1rem;}
	.mobile_in_nan li h4 {line-height:24px;overflow:hidden;}
	.memu_in_top h1 {top:28%;}
	.mobile_in_servg .mob_con_num {padding:0.8rem 1rem;margin-top:0;}
	.mobile_con_in h3 {font-size:1.125rem;}
	.mob_list_ulil li h4, .mobile_in_nan li h4 {height:4.2rem;}
}

@media (min-width: 500px){
	.memu_in_nav li a, .mobile_lat_infor .mobole_in_tit li,.mobile_in_rifal h3 span,.memu_in_sear input, .memu_con_sear input, .memu_con_nav a{font-size:1.125rem;}
	.menu_top_icon .iconfont {font-size:1.75rem;}
	.mob_con_num {margin-right:3%;}
	.mobile_con_toptil {font-size:1.5rem;}
	.memu_in_nav li a {padding:1.75rem 0;}
	.mob_list_ulil li a, .mobile_fa_div li a {font-size:0.875rem;}
	.mobole_in_tit li {padding:0.9rem 0;}
	.mob_sear_ulil li a {padding-left:5%;}
	.mob_con_return {width:15%;}
	.mob_list_ulil li h4, .mobile_in_nan li h4 {height:6rem;}
	.memu_in_searform a {font-size:2rem;top:0.2rem;right:0.2rem;}
}

@media (min-width: 600px){     
	.memu_in_top h1 {top:30%;}
	.memu_in_nav .iconfont {font-size:2.75rem;}
	.memu_footer_explain {font-size:0.875rem;}     
	.mobile_in_con li h4 ,.see_more, li h4, .mob_list_page p span, .mob_list_page a, .mob_sear_form input, .mobile_fa_ul li, .mob_con_return {font-size:1rem;}  
	.memu_con_nav a, .memu_con_sear input {padding:1.25rem 0;}     
	.mobile_con_in li a {font-size:1.125rem;}     
	.mobole_in_tit li {padding:1.2rem 0;}
	.mobile_con_in h3 {font-size:1.375rem;}
	.mob_list_ulil li h4, .mobile_in_nan li h4 {height:6.3rem;line-height:24px;}
	.mobile_in_risk li a{padding-left:6%;}
}

@media (min-width: 700px){     
	.mob_list_ulil li h4, .mobile_in_nan li h4 {height:7.5rem;}
}