/*南非专区*/
.sa_nav a:hover .iconfont, .sa_index_con i.iconfont, .sa_pci_list i.iconfont, .sa_pci_list a:hover h4, .sa_pci_list a:hover p, .sa_pci_content h3, .sa_index_sg li span span, .sa_pci_content .pci_content_return:hover, .sa_index_con a:hover h4, .sa_index_con a:hover p {color:#ff7800;}
.sa_nav a:hover, .sa_see_more:hover, .sa_pci_list .pci_page a:hover {background:#ff7800;border:1px solid #ff7800;}
.sa_top_return a:hover, .sa_footer a:hover {background:#ffa229;color:#333;}
.sa_top_return a, .sa_footer a {background:#e77902;margin-left: 10px}
.sa_top_return a {float:left;}
.sa_banner {background:url(../images/S.Africa-banner.jpg) no-repeat;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/S.Africa-banner.jpg',sizingMethod='scale');}
.sa_index_con h3, .sa_pci_list h3 {border-color:#e97900;}
.sa_index_con .index_serial_number, .sa_index_inpro .index_serial_time span, .sa_pci_list .pci_list_time span{background:#ff8400;}
.sa_index_sg li a:hover {background:#ff7800;}
.sa_index_inpro h3, .sa_index_inpro h3 p {background:#fff9ee;}
.sa_index_inpro {background:#fff9ee;border-color:#ffd9a4;}
.sa_index_inpro .index_serial_time, .sa_pci_list .pci_list_time {background:#d16d00;}
.sa_pci_list .current_location a {color:#ff7800;}
.sa_footer p a, .sa_footer p {color:#333;}
.sa_footer {background:#ffb85d;}

/*尼日利亚专区*/
.ng_pci_list i.iconfont, .ng_pci_list a:hover h4, .ng_pci_list a:hover p, .ng_pci_list .current_location a, .ng_index_sg li span span, .ng_index_con i.iconfont, .ng_nav a:hover .iconfont, .ng_index_con a:hover h4, .ng_index_con a:hover p, .ng_pci_content .pci_content_return:hover, .ng_pci_content h3{color:#007f3c;}
.ng_pci_list .pci_list_time span, .ng_index_sg li a:hover, .ng_index_inpro .index_serial_time span, .ng_footer, .ng_index_con .index_serial_number{background:#007f3c;}
.ng_top_return a, .ng_footer a {background:#005a2a;margin-left: 10px}
.ng_top_return a {float:left;}
.ng_top_return a:hover, .ng_footer a:hover {background:#009d49;}
.ng_banner {background:url(../images/Nigeria_banner.jpg) no-repeat;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Nigeria_banner.jpg',sizingMethod='scale');}
.ng_nav a:hover, .ng_index_con .see_more:hover, .ng_pci_list .pci_page a:hover {background:#007f3c;border:1px solid #007f3c;}
.ng_index_con h3, .ng_pci_list h3 {border-color:#007f3c;}
.ng_index_inpro {background:#f4fff9;border-color:#8deabc;}
.ng_index_inpro h3 p {background:#f4fff9;}
.ng_index_inpro .index_serial_time, .ng_pci_list .pci_list_time {background:#00602d;}
.ng_footer p, .ng_footer p a {color:#fff;}