<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>中山市建筑业协会</title>
<link rel="stylesheet" type="text/css" href="css/jzyxh.css">
<meta name="keywords" content="中山市建筑业协会">
<!--[if IE 6]>
        <script src="js/iepng.js" type="text/javascript"></script>
        <script type="text/javascript">
            EvPNG.fix('*');  //EvPNG.fix('包含透明PNG图片的标签'); 多个标签之间用英文逗号隔开。
        </script>
<![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/nav.js"></script>
<script src="js/jquery.pack.js"></script>
<script src="js/jquery.SuperSlide.js"></script>
</head>

<body>
<div id="top">
	<ul>
    	<li class="f_l"><img src="images/jzyxh_02.jpg" alt="中山市建筑业协会" title="中山市建筑业协会"></li>
        <li class="f_r sele"><input type="text" class="sele_box" value="请输入关键字！" style="font-family:微软雅黑;" onblur="if(this.value==&#39;&#39;)this.value=&#39;请输入关键字！&#39;;" onfocus="if(this.value==&#39;请输入关键字！&#39;)this.value=&#39;&#39;;"><input type="submit" class="sele_btn"></li>
    </ul>
    <div class="clear"></div>
</div>
<div id="menu">
	<ul>
    	<li class="on"><a href="#">网站首页</a></li>
        <li class="navmore"><a href="#">协会概况</a>
        	<ul class="navMoreUL">
            	<li><a href="#">协会简介</a></li>
                <li><a href="#">协会章程</a></li>
                <li><a href="#">组织机构</a></li>
                <li><a href="#">办事指南</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </li>
        <li class="navmore"><a href="#">新闻公告</a>
        	<ul class="navMoreUL">
            	<li><a href="#">焦点新闻</a></li>
                <li><a href="#">协会动态</a></li>
                <li><a href="#">行业资讯</a></li>
                <li><a href="#">政策法规</a></li>
                <li><a href="#">工会、党建</a></li>
            </ul>
        </li>
        <li class="navmore"><a href="#">协会工作</a>
        	<ul class="navMoreUL">
            	<li><a href="#">网上申报</a></li>
                <li><a href="#">创先争优</a></li>
                <li><a href="#">协调服务</a></li>
                <li><a href="#">资料下载</a></li>
            </ul>
        </li>
        <li class="navmore"><a href="#">培训中心</a>
        	<ul class="navMoreUL">
            	<li><a href="#">培训动态</a></li>
                <li><a href="#">培训报名</a></li>
                <li><a href="#">网上预约</a></li>
            </ul>
        </li>
        <li class="navmore"><a href="#">会员中心</a>
        	<ul class="navMoreUL">
            	<li><a href="#">单位注册</a></li>
                <li><a href="#">个人注册</a></li>
                <li><a href="#">会员登录</a></li>
            </ul>
        </li>
        <li><a href="#">优秀建筑</a></li>
        <li><a href="#">新材料介绍</a></li>
    </ul>
</div>
<div class="focusBox">
	<ul class="pic">
    	<li><a href="#" target="_blank"><img src="images/banner_01.jpg"/></a></li>
        <li><a href="#" target="_blank"><img src="images/banner_02.jpg"/></a></li>
        <li><a href="#" target="_blank"><img src="images/banner_03.jpg"/></a></li>
        <li><a href="#" target="_blank"><img src="images/banner_01.jpg"/></a></li>
    </ul>
    <a class="prev" href="javascript:void(0)"></a>
	<a class="next" href="javascript:void(0)"></a>
    <ul class="hd">
		<li></li>
        <li></li>
        <li></li>
        <li></li>
	</ul>
</div>
<script type="text/javascript">
		//鼠标移过，左右按钮显示
		jQuery(".focusBox").hover(function(){ jQuery(this).find(".prev,.next").fadeTo("show",0.2) },function(){ jQuery(this).find(".prev,.next").fadeOut() });
		//SuperSlide图片切换
		jQuery(".focusBox").slide({ mainCell:".pic",effect:"fold", autoPlay:true, delayTime:600, trigger:"click"});
</script>
<div class="middle margintop20">
	<div class="title"><span><a href="#">+ 查看更多</a></span>通知公告</div>
    <div class="notice_pic" style="margin:0 auto">
			<ul class="pic">
					<li><a href="http://www.SuperSlide2.com" target="_blank"><img src="images/jzyxh_12.jpg"/></a></li>
					<li><a href="http://www.SuperSlide2.com" target="_blank"><img src="images/jzyxh_12.jpg"/></a></li>
					<li><a href="http://www.SuperSlide2.com" target="_blank"><img src="images/jzyxh_12.jpg"/></a></li>
					<li><a href="http://www.SuperSlide2.com" target="_blank"><img src="images/jzyxh_12.jpg"/></a></li>
                    <li><a href="http://www.SuperSlide2.com" target="_blank"><img src="images/jzyxh_12.jpg"/></a></li>
			</ul>
			<div class="txt-bg"></div>
			<div class="txt">
				<ul>
					<li><a href="#">第十届全国建设工程优秀项目管理成果现场发布……</a></li>
					<li><a href="#">第十届全国建设工程优秀项目管理成果现场发布……</a></li>
					<li><a href="#">第十届全国建设工程优秀项目管理成果现场发第十届全国建设工程优秀项目管理成果现场发布</a></li>
					<li><a href="#">第十届全国建设工程优秀项目管理成果现场发布……</a></li>
                    <li><a href="#">第十届全国建设工程优秀项目管理成果现场发布……</a></li>
				</ul>
			</div>

			<ul class="num">
				<li><a>1</a><span></span></li>
				<li><a>2</a><span></span></li>
				<li><a>3</a><span></span></li>
				<li><a>4</a><span></span></li>
                <li><a>5</a><span></span></li>
			</ul>
	</div>

	<script type="text/javascript">
		jQuery(".notice_pic").slide({ titCell:".num li", mainCell:".pic",effect:"fold", autoPlay:true,trigger:"click",
			//下面startFun代码用于控制文字上下切换
			startFun:function(i){
				 jQuery(".notice_pic .txt li").eq(i).animate({"bottom":0}).siblings().animate({"bottom":-36});
			}
		});
	</script>
    <div class="notice_font f_r">
    	<div class="hot">
        	<a href="#"><h3>第十届全国建设工程优秀项目管理成果现场发布会在南京举办</h3>一年一度旨在系统总结并积极宣传推广我国建筑业企业在开展工程项目管理中的新经验、新方法和新举措，进一步推进并加快科技与管理创新成果转化为现实生产力的第十届全国建设工程优秀项目管理成果发会于7月9日至11日在南京市举办……
            </a>
        </div>
        <ul>
        	<li><span>[15-08-03]</span><a href="#">关于开展建筑工人职业培训工作的通知</a><i></i></li>
            <li><span>[15-08-03]</span><a href="#">关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知</a><i></i></li>
            <li><span>[15-08-03]</span><a href="#">关于开展建筑工人职业培训工作的通知</a><i></i></li>
            <li><span>[15-08-03]</span><a href="#">关于开展建筑工人职业培训工作的通知</a><i></i></li>
            <li><span>[15-08-03]</span><a href="#">关于开展建筑工人职业培训工作的通知</a><i></i></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="middle margintop20">
	<div class="f_l">
    	<div class="train">
        	<div class="hd">
            	<ul>
                	<li>培训课程</li>
                    <li>培训动态</li>
                </ul>
                <span><a href="#">网上预约</a> | <a href="#">查看更多</a></span>
                <div class="clear"></div>
            </div>
            <div class="bd">
            	<ul>
                	<div class="photo"><img src="images/jzyxh_24.jpg">开展职业技能培训,提升行业整体素质</div>
                    <li><span><a href="#">我要报名</a></span><a href="#">室内设计实战班</a></li>
                    <li><span><a href="#">我要报名</a></span><a href="#">室内设计实战班</a></li>
                    <li><span><a href="#">我要报名</a></span><a href="#">室内设计实战班室内设计实战班室内设计实战班室内设计实战班室内设计实战班</a></li>
                    <li><span><a href="#">我要报名</a></span><a href="#">室内设计实战班</a></li>
                    <li><span><a href="#">我要报名</a></span><a href="#">室内设计实战班</a></li>
                    <li><span><a href="#">我要报名</a></span><a href="#">室内设计实战班</a></li>
                </ul>
                <ul>
                	<div class="photo"><img src="images/jzyxh_24.jpg">开展职业技能培训,提升行业整体素质</div>
                    <li><a href="#">关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知</a></li>
                    <li><a href="#">关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知</a></li>
                    <li><a href="#">关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知</a></li>
                    <li><a href="#">关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知</a></li>
                    <li><a href="#">关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知</a></li>
                    <li><a href="#">关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知关于开展建筑工人职业培训工作的通知</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <script type="text/javascript">jQuery(".train").slide({trigger:"mouseover"});</script>
        </div>
        <div class="ad"><img src="images/jzyxh_27.jpg"></div>
        <div class="trends">
        	<div class="title"><span><a href="#">+ 查看更多</a></span>行业动态</div>
            <ul>
            	<li><a href="#">广东省建筑业协会召开第五次会员代表大会暨五届一次理事会会议</a></li>
                <li><a href="#">广东省建筑业协会召开第五次会员代表大会暨五届一次理事会会议</a></li>
                <li><a href="#">广东省建筑业协会召开第五次会员代表大会暨五届一次理事会会议</a></li>
                <li><a href="#">广东省建筑业协会召开第五次会员代表大会暨五届一次理事会会议</a></li>
                <li><a href="#">广东省建筑业协会召开第五次会员代表大会暨五届一次理事会会议</a></li>
            </ul>
        </div>
        <div class="case">
        	<div class="title"><span><a href="#">+ 查看更多</a></span>服务案例</div>
            <ul>
            	<li><a href="#">广东省建筑业协会召开第五次会员代表大会暨五届一次理事会会议</a></li>
                <li><a href="#">广东省建筑业协会召开第五次会员代表大会暨五届一次理事会会议</a></li>
                <li><a href="#">广东省建筑业协会召开第五次会员代表大会暨五届一次理事会会议</a></li>
                <li><a href="#">广东省建筑业协会召开第五次会员代表大会暨五届一次理事会会议</a></li>
                <li><a href="#">广东省建筑业协会召开第五次会员代表大会暨五届一次理事会会议</a></li>
            </ul>
        </div>
    </div>
    <div class="f_r shortcut">
    	<div class="title">网上申报</div>
    	<ul>
        	<li><a href="#"><img src="images/icon_01.jpg" alt="入会申请" title="入会申请">入会申请</a></li>
            <li><a href="#"><img src="images/icon_02.jpg" alt="变更企业信息" title="变更企业信息">变更企业信息</a></li>
            <li><a href="#"><img src="images/icon_03.jpg" alt="培训报名" title="培训报名">培训报名</a></li>
            <li><a href="#"><img src="images/icon_04.jpg" alt="培训预约" title="培训预约">培训预约</a></li>
            <li><a href="#"><img src="images/icon_05.jpg" alt="工程创优申报" title="工程创优申报">工程创优申报</a></li>
            <li><a href="#"><img src="images/icon_06.jpg" alt="优秀项目经理" title="优秀项目经理">优秀项目经理</a></li>
            <li><a href="#"><img src="images/icon_07.jpg" alt="工程纠纷调解" title="工程纠纷调解">工程纠纷调解</a></li>
            <li><a href="#"><img src="images/icon_08.jpg" alt="职称申报" title="职称申报">职称申报</a></li>
            <li><a href="#"><img src="images/icon_09.jpg" alt="技术服务申报" title="技术服务申报">技术服务申报</a></li>
            <li><a href="#"><img src="images/icon_10.jpg" alt="行业发展服务申报" title="行业发展服务申报">行业发展服务申报</a></li>
      </ul>
    </div>
	<div class="clear"></div>
</div>
<!--foot!-->
<div id="foot">
	<div class="link">
    	<h3>友情链接</h3>
        <ul>
        	<li><a href="#">中国建筑职业培训协会</a></li>
            <li><a href="#">中国建筑职业培训协会</a></li>
            <li><a href="#">中国建筑职业培训协会</a></li>
            <li><a href="#">中国建筑职业培训协会</a></li>
            <li><a href="#">中国建筑职业培训协会</a></li>
            <li><a href="#">中国建筑职业培训协会</a></li>
            <li><a href="#">中国建筑职业培训协会</a></li>
            <li><a href="#">中国建筑职业培训协会</a></li>
            <li><a href="#">中国建筑职业培训协会</a></li>
            <li><a href="#">中国建筑职业培训协会</a></li>
            <li><a href="#">中国建筑职业培训协会</a></li>
            <li><a href="#">中国建筑职业培训协会</a></li>
        </ul>
        <span><img src="images/weixin.jpg" alt="建筑业协会官方微信" title="建筑业协会官方微信">建筑业协会官方微信</span>
        <div class="clear"></div>
    </div>
    <div class="copyright">
    	&copy; copyright 2015中山市建筑业协会  电话：(0760)-88230289   (0760)-88337891转331<br>
传真：(0760)-88388441  地址：中山市中山四路45号裕中大厦二楼<br>
技术支持：中山市智达科技有限公司  (0760)-88368301
    </div>
</div>
</body>
</html>